.prize-msg {
    font-weight: 600;
    // a push down so the prize list title is not behind the nav bar.
    margin-top: 80px;
}

.full-height {
    // height: 100vh;
}

.bottom-spacing {
    margin-bottom: 55px;
}
