@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Lato", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  // Enables smooth scrolling throughout entire website.
  // Add this here if you dont want the smooth prop on the <NavLink/> inside navbar.js
  scroll-behavior: smooth;
}

p {
  font-weight: 600;
}
